<div class="bar bar-header bar-stable">
  <h1 class="title">{{data_date | date:'fullDate'}}</h1>
</div>

<ion-content>
  <div style="margin-top: 80px">
    Please enter your data!
    <ul class="list">
      <label class="item item-input">
        <span class="input-label">Temperature (F)</span>
        <input type="tel" ng-model="date.temperature">
      </label>
      <ion-toggle ng-model="date.opk" toggle-class="toggle-calm">OPK</ion-toggle>
      <label class="item item-icon-right">
        <select novalidate="" ng-model="date.cm" ng-options="cm_options for cm_options in cm_options" style="opacity:0; width:100%; position:absolute; z-index: 100">
          <option value=""></option>
        </select>
        <span class="input-label">Cervical Fluid</span>
          <i class="icon ion-ios7-arrow-down"></i>
      </label>
      <label class="item item-input">
        <button class ="button button-block button-energized" style="margin-right: 15px" ng-click="enter_daily_data()">
          Submit
        </button>
      </label>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
    </ul>
  </div>
</ion-content>
