<div class="bar bar-header bar-light">
  <h1 class="title"><i class="icon ion-leaf" style="color: #D46A6A"></i> Sign Up</h1>
</div>

<ion-content padding="true">

<ul class="list" style="margin-top: 40px">
  <li class="item item-toggle">
     I am trying to get pregnant
     <label class="toggle">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Irregular cycles
     <label class="toggle">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>

<label class="item item-icon-right" style="margin-top: -22px">
  <select style="opacity:0; width:100%; position:absolute; z-index: 100" ng-options="">
    <option value="">Select...</option>
  </select>
  <span class="input-label">Number of months trying</span>
   <i class="icon ion-ios7-arrow-down"></i>
</label>

<label class="item item-input">
  <input type="text" placeholder="First Name" ng-model="loginData.name">
</label>

<label class="item item-input">
  <input type="email" placeholder="Email" ng-model="user.email">
</label>
<label class="item item-input">
  <input type="password" placeholder="Password" ng-model="user.password">
</label>
<label class="item item-input">

<button class ="button button-block button-energized" style="margin-right: 15px" ng-click="signup()">
  Sign Up
  </button>
<div class="error" ng-if="errorMessage" ng-bind="errorMessage">
</div>
</ion-content>
