/* Empty. Add your own CSS if you like */

h1, h2, h3, body, button {
  font-family: 'Raleway', sans-serif;
}

.start {
  color: #444E50;
}

.scroll-content#imagebg {
  background: url('../img/flowers_in_a_jar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Change the default button color to a nice reddish orange */
.button.button-energized {
  background-color: #F34F20;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
