/* Empty. Add your own CSS if you like */

h1, h2, h3, body, button {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 600;
}

.start {
  color: #444E50;
}

.scroll-content#imagebg {
  background: url('../img/flowers_in_a_jar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Change the default button color to a nice reddish pink */
.button.button-energized {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

#graphs > * {
  display: inline;
}

#fertilityChart {
  width: 350px;
  height: 500px;
  display: block;
  border: none;
} 

.domain {
  fill-opacity: 0;
  stroke-width: 0px;
}

.tick {
  stroke-width: 0px;
}

.fg-area {
  fill-opacity: 0.1;
  stroke-width: .5px;
}

.fg-marker {
  stroke-width: 0px;
}
